<% @user ||= current_user %>
<div class ="user_status">
    <a href="<%= following_user_path(@user) %>">
        <%= @user.following_relationships.count %>
    </a>
    <a href = "<% followers_user_path(@user) %>">
        <%= @user.follower_relationships.count %>
    </a>
</div>